doctype
html(lang='en')
    head
        include ./includes/head.pug
        style.
            .subscribe{
                text-align: center;
                background: #f5f5f5;
                margin-top: 33px;
            }
            .header{
                background-image: url('img/ai_bg.svg');
            }

            .hero-text > h1{
                margin: 9px 0px;
            }
            .banner{
                padding:10px 0px;
                margin-bottom:70px;
            }
            .hero-text > p{
                margin: 19px 0px;
                margin-bottom: 0px;
            }
            @media (max-width: 676px){
                .hero-text{
                    margin-left: 19px;
                }
                .header{
                    background-image: none;  
                }
            }
    body
        .wrapper
            include ./includes/nav.pug
            .header
                .hero-text
                    h1 #{topCourse.name}
                    p #{topCourse.discription}
                    h3 Course duration : #{topCourse.duration} Weeks
                    .cta
                        if courses == undefined
                            a.btn.primary(href="#subscribe") Subscribe
                        else
                            a.btn.primary(href="/courses?id="+topCourse.cid) Know More
        if courses != undefined
            .courses
                //- Shows a list of other courses
                .heading
                    h2 Other related courses
                .row
                    include ./includes/course_cards.pug
        else
            .banner
                h5 Certificate of Completion will be awarded.

            .course-detail
                .objective
                    h2 Course Objective
                    p= topCourse.objective
                .syllabus
                    h2 Course Syllabus
                    ul.course-detail-list
                        for topic in topCourse.syllabus
                            li
                                span= topic
            
            .course-detail    
                .outcomes
                    h2 What will you get?
                    p After successful completion of this course the student will be able to :
                    ul.course-detail-list
                        for outcome in topCourse.outcomes
                            li
                                span= outcome
        
        .subscribe#subscribe
            include ./includes/subscribe.html
                
        include ./includes/scripts.pug
