{{> _admin_nav}}

      <div class="container mt-3 col-md-6 mx-auto mb-4">
          <h3>{{course.title}}</h3>

        <ul class="list-group">
              <li class="list-group-item list-group-item-success mb-1">Total No. Chapters:  {{number_of_chapters}}</li>
              <li class="list-group-item list-group-item-info mb-1">Total No. Students: {{number_of_students}}</li>
        </ul>
         <div class="mt-5">
                  <h5>Enrolled Students</h5>
        <ul class="list-group">
            {{#each students}}
            <li class="list-group-item"><span class="student-name">{{name}} <span  class="student-email">{{email}}</span> </span></li>
            {{else}}
                
            <li class="list-group-item">No Subscriber Right Now</li>
            {{/each}}
        </ul>
         </div>

      </div>    